*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #eee;
}

.title {
  text-align: center;
  margin: 2rem auto;
  font-size: 3rem;
}

.btn {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 0.8rem;
  padding: 1rem;
  font-weight: 900;
  outline: none;
  cursor: pointer;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: #eee;
  &:active {
    transform: translateY(0.2rem);
    box-shadow: 0 0.1rem 0.1rem #333;
  }
}

.quote {
  font-size: 1.8rem;
  padding: 1rem;
  text-align: center;

  &::before {
    content: "\201C";
    font-size: 6rem;
  }
}

.author {
  font-size: 1.8rem;
  padding: 1rem;
}

.container {
  border-width: 0.1rem;
  border-style: solid;
  /* border-color: aquamarine; */
  width: 60%;
  margin: 10rem auto;
}
