.container {
  border-width: 0.25rem;
  border-style: solid;
  width: 60%;
  margin: 10rem auto;
  &-api {
    width: 60%;
    margin: 5px auto;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    border: 1px solid black;
    padding: 5px;
    & a {
      color: blue;
    }
  }
}
